@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Rubik+Wet+Paint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: #012840;
  background-image: url(images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
/* cabeçalho */
#cabecalho ul {
  display: flex;
  background: linear-gradient(to bottom, #7338549d 65%, #73385418);
  list-style: none;
  flex-direction: row;
  max-width: 100vw;
  padding: 2vh;
}
#cabecalho ul li a {
  margin: 0 20px;
  text-decoration: none;
  color: #a68a56;
  transition: all 500ms;
}
#cabecalho ul li a:hover {
  opacity: 0.7;
}
/* conteúdo */
#container {
  display: flex;
  justify-content: space-between;
}
#container #container__gameTrailer {
  margin: auto;

}
#container #container__login {
  background: linear-gradient(to left, #753517ef, #d8a559f6);
  border: 7px groove #ac894d;
  width: 40vw;
  height: 85vh;
  border-radius: 5px;
  margin-right: 40px;
}
#login__information,
#conect-with {
  margin-left: 30px;
}
#container #container__login h1 {
  text-align: center;
  font-family: 'Rubik Wet Paint', cursive;
  margin: 40px auto;
  font-size: 2rem;
}
#information__instructions {
  font-family: 'BIZ UDMincho', serif;
  font-size: 6.5rem;
  margin-bottom: 10px;
}
input {
  width: 20vw;
  margin-bottom: 15px;
  padding: 5px;
}
.information #last-input {
  margin-bottom: 0px;
}
#conect-with {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
#conect-with #paragraphy a {
  margin-left: 4rem;
  margin-bottom: 10px;
  color: rgb(26, 26, 26);
}
#conect-with #paragraphy a:hover {
  color: rgba(26, 26, 26, 0.63);
}
#container #conect-with p a {
  width: 0px;
  color: black;
}

#container #conect-with p {
  margin-top: 10px;
}
#container #conect-with p:hover {
  opacity: 0.9;
}
#container #conect-with i {
  margin-right: 10px;
}
